/*fonts*/

@font-face {
    font-family: 'banner-font';
    src: url("../fonts/Long_Cang/LongCang-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'en-article-font';
    src: url("../fonts/Nunito/Nunito-Black.ttf") format("truetype");
    src: url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype");
    src: url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}

/*All*/

html{
    font-size: 16px;
}


p{
    font-family: 'en-article-font', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1{
    font-family: 'banner-font', Arial, Helvetica, sans-serif;
}



/*Header*/

/* */
header{
    margin: 0 auto;    
}

nav{
    background-image: url("../images/headerBackground.JPG");
    background-size: cover;
    display: flex;
    max-height: 100px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


.nav-logo img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 10px 20px;
}

nav ul{    
    height: auto;
    
}

nav li{
    display: inline-block;
    color:white;
    margin: 0 30px;
    padding: 15px;
    border-style: double;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;

}


nav li a{
    text-decoration: none;
    color:white;
}

/* Banner */
.banner{
    margin: 125px auto;
}
.banner img{
    display: block; /*这个结合margin auto可以使得图片居中*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px auto;
}

.banner h1{
    text-align: center;
}
.banner p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}