/*Global*/

*{
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-family: 'en-article-font', Arial, Helvetica, sans-serif;
    color:#2C365E;
    border: #4E5255;

}
body{
    background-color: #EBF4FA;

}


h1,h2,h3,h4,h5,h6,p{
    font-family: 'en-article-font', Arial, Helvetica, sans-serif;
    
}

h1{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}

h2{
    font-family: 'en-article-font', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

p{
    font-family: 'en-article-font', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

@font-face {
    font-family: 'banner-font';
    src: url("../fonts/Long_Cang/LongCang-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'en-article-font';
    src: url("../fonts/Nunito/Nunito-Black.ttf") format("truetype");
    src: url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype");
    src: url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}

.container{
    border: 2px solid #2C365E;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 2px 2px #2C365E;
}

.container > h2{
    text-align: center;
    background-color: #2C365E;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}
/*Header*/
nav{
    display: flex;
    height: 100px;
    z-index: 1;
    background-color: #ADD2EB;
    border-radius: 10px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.nav-logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 20px 10px;
}

.website-title{
    width: 600px;
    text-align: center;
}

.nav-button{
    position: fixed;
    right: 0;
    list-style: none;
    top: 100px;
}

.nav-button li{
    display: block;
    margin: 10px;
    width: 150px;
}

.button-type1{
    background-color: steelblue;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: block;
    width: 150px;
    text-align: center;
    text-decoration: none

}

.button-type1:hover{
    background-color: #B6590D;
    padding: 15px;
    transition: background-color 0.5s, padding 0.5s;
}

.button-type1:active{
    font-size: 23px;
    transition: font-size 0.3s;
}

/*Banner*/

.banner{
    display: block;
}

.welcome-gif{
    display: block;
    width: 150px;
    height: auto;
    margin: 15px;
    border-radius: 50%;
    position: sticky;
    top: 100px;
}
.welcome-text{
    display: block;
    text-align: center;
    position: relative;
    top: -100px;
}
.welcome-text h2[lang="zh"]{
    font-family: 'banner-font',Arial, Helvetica, sans-serif;
    font-size: 35px;
}
/*Colors*/
.color-theory, .color-examples, .color-resources{
    margin: 20px;
}

.color-wheel img{
    width: 700px;
    height: auto;
}

.color-box-list{
    display: block;
    width: 80%;
}
.color-box{
    display: inline-block;
    width: 250px;
    list-style: none;
    padding: 50px;
    margin: 20px 50px;
    line-height: 150%;
    text-align: center;
    font-weight: bold;
    color: transparent;
}

.color-box:hover{
    color: #2C365E;
}

.color-box a{
    text-decoration: none;
    color: #2C365E;
}


.LightCoral{
    background-color: LightCoral;
}

.Moccasin{
    background-color: Moccasin;
}

.MediumSlateBlue{
    background-color: MediumSlateBlue;
}

.MediumSeaGreen{
    background-color: MediumSeaGreen;
}

.Teal{
    background-color: Teal;
}

.LightSteelBlue{
    background-color: LightSteelBlue;
}

/*Fonts*/
.font-container{
    margin: 20px;
    display: block;
}
.font-panel{
    display: inline-block;
    width: 40%;
}
.font-lable{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.EB-Garamond p{
    font-family: 'EB Garamond', serif;
}

.Raleway p{
    font-family: 'Raleway', sans-serif;
}
.Noto-Sans-SC p{
    font-family: 'Noto Sans SC', sans-serif;
}
.Noto-Serif-SC p{
    font-family: 'Noto Serif SC', serif;
}

/*Text Design*/
.text-container{
    margin: 20px;
}

/*Footer*/
footer{
    background-color:#2C365E;
    color: #E9F7F9;
    text-align: center;
    padding: 5px;
}

.button-type2:link,.button-type2:visited{
    text-decoration: none;
    color: #2C365E;
    background-color:#E9F7F9;
    border-radius: 5px;
}

.button-type2:hover{
    font-size: 30px;
    transition: font-size, 0.3s;
}
